@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 50vw;

  /* text-align: center; */
}
.container h1 {
  margin-top: 1.5rem;
  text-align: center;
  color: rgb(238, 102, 52);
}
.form-container {
  position: relative;
  /* width: 60%; */
  width: 30rem;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}
form img {
  width: 100px;
  position: absolute;
  top: -60px;
  left: 40%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.input-container {
  margin: 1.5rem 0;
}
label {
  display: block;
}
input {
  display: block;
  width: 100%;
  margin: 0.5rem 0 0.3rem;
  font-size: 1rem;
  outline: none;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  border: 1px solid gray;
}
.invalid {
  border: 2px solid red;
}
.error {
  position: absolute;
  font-size: 0.8rem;
  color: red;
}
button {
  margin-top: 1.5rem;
  display: inline-block;
  border: none;
  background: #ff652f;
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: #dc683e;
}
.btn1 {
  margin-right: 1.5rem;
}
.home {
  background-color: black;
  padding: 5rem;
  font-size: 3rem;
  color: white;
  border-radius: 8px;
}
